h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
img {
  display: block;
}
/* убрати рамку після виконання роботи */
* {
  outline: 1px solid tomato;
}
.container {
  max-width: 1158px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
}
.page-header {
  border-bottom: 1px solid #e7e9fc;
}
.page-container {
  display: flex;
  margin: 0 auto;
  padding: 0 15px;
}
.page-nav {
  display: flex;
  align-items: center;
}
.logo {
  margin-right: 76px;
  padding: 25.5px 0;
}
.nav-list {
  display: flex;
  gap: 40px;
}
.webstudio {
  padding: 24px 0;
}
.main_address {
  margin-left: auto;
}

.address {
  padding: 24px 0;
}

.main-list {
  display: flex;
  gap: 40px;
  padding: 24px 0;
}

.first-section {
  padding: 188px 0;
}
.first-title {
  max-width: 496px;
  margin: auto;
  margin-bottom: 48px;
}
.first-section-button {
  display: block;
  margin: auto;
  min-width: 169px;
  height: 56px;
  border: none;
  background-color: #4d5ae5;
  border-radius: 4px;
  padding: 16px 32px;
}
.second-section {
  padding: 120px 0;
}
.second-list {
  display: flex;
  gap: 24px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.second-item {
  flex-basis: calc((100% - 3 * 24px) / 4);
}
.second-section-title {
  margin-bottom: 8px;
}
.third-section {
  padding: 120px 0;
}
.third-title {
  margin-bottom: 72px;
}
.third-list {
  display: flex;
  gap: 24px;
}
.third-item {
  flex-basis: calc((100% - 3 * 24px) / 4);
  border-radius: 0px 0px 4px 4px;
}
.third-container-second {
  padding: 32px 0;
}
.team-title {
  text-align: center;
  margin-bottom: 8px;
}
.team-text {
  text-align: center;
}
.four-section {
  padding: 120px 0;
}
.four-title {
  margin-bottom: 72px;
}
.four-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.four-item {
  width: calc((100% - 48px) / 3);
}
.four-container-second {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.portf-title {
  margin-bottom: 8px;
}
.foot {
  padding: 100px 0;
}
.web {
  display: inline-block;
  margin-bottom: 16px;
}
.foot-text {
  max-width: 264px;
}
